body{
    
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 , h2, h4{
    text-align: center;
}
nav ul {
    font-size: 20px;
    color: rgb(0, 0, 0);
    list-style-type: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 100%;
    align-items: center;
}
a{
    text-decoration: none;
}
li {
    margin: 0 9px;    
}
.gride{
    margin-bottom: 150px;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    
    
}
.items{
    padding: 0 10px 0 10px;
}

img{
    
    width: 100%;

}
.logo{
    width: 50%;
    text-align: center;
}
.gride1{

    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 35% 65%;
}
.gride2{
    margin: 0 30px 150px 30px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.gride3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 400px;
    margin: 0 70px 150px 70px;
    overflow-y: scroll;
}
.items3{
    margin: 10px;
    
    padding: 10px;
    height: 100%;
}
.upload{
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 20px 50px 20px;
    align-items: center;
    background-image: url(book.jpg);
    background-position: centre;
    background-size: cover;
    color: white;
    margin-bottom: 150px;
}
button{
    height: 30px;
}
input{
    height: 30px;
}
.contact{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}
.contact1{
    padding: 0 80px 0 80px;
}
.line{
    border-top: solid 1px black;
    margin-top: 20px;
    padding-top: 0;
    text-align: center;
    background-color: rgb(96, 95, 95);
    color: white;
    padding-bottom: 10px;
}
.footer{
    text-align: center;
    justify-content: center;
}